<div class="row">
  <div class="col">
    <h3>Book: <%= @book.name %></h3>  
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Page number</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @book_pages.each do |book_page| %>
          <tr>
            <td><%= link_to "page #{book_page.number}", edit_admin_book_book_page_path(@book, book_page), class: "btn btn-secondary" %></td>
            <td><%= link_to 'Delete', admin_book_book_page_path(@book, book_page), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col">
    <%= link_to "Add new Page", {controller: "book_pages", action: "new", book_id: @book.id} %>
  </div>
</div>
