<div class="row text-center">
  <div class="col col-12">
  <h1 class="display-1">Hi!</h1>

  <p>This app will help you to <mark>increase your speed</mark> in typing text and code. </p>

  <p>If you don't know how to touch type you should first finish this <a href="https://www.typingclub.com/" class="btn btn-secondary">beginners course.</a></p>
  <p>if not just <mark>choose a book or open source project</mark> in the main navigation and start typing.</p>

  <br>

  <p class="display-4"> Have fun!  </p>

  </div>
</div>
