<div class="row">
  <div class="col text-center"><%= @book.name %></div>
</div>
<div class="row">
  <div class="col">
    <%= form_for @book, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
      <%= f.text_field :name, autofocus: true %>
      <%= f.submit "Edit Book" %>
    <% end %>

  </div>
</div>
