<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Language
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">JavaScript</a>
    <a class="dropdown-item" href="#">Ruby</a>
    <a class="dropdown-item" href="#">Python</a>
    <a class="dropdown-item" href="#">PHP</a>
  </div>


</div>
