<%= render 'partials/navigation' %>
<br>
<%= render 'partials/progress_bar' %>

<br>

<div class="row justify-content-md-center">
  <div class="col col-lg-10" id="text"></div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-lg-10" id="stats"></div>
</div>
<div class="row">
  <!-- <a class='btn btn&#45;secondary visible&#45;print&#45;block'id='next&#45;page' data&#45;no&#45;turbolink='true' href="/">Press "N" to go to next page</a> -->
  <%= link_to "press 'n' to go to next page", '/', data: { turbolinks: false }, id: 'next-page' %>
</div>

