<%= render 'partials/navigation' %>
<br>
<%= render 'partials/progress_bar' %>

<br>

<div class="row justify-content-md-center">
  <div class="col col-lg-10" id="text"></div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-lg-10" id="stats"></div>
</div>

