<div class="row">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Language
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-submenu">
        <a  class="dropdown-item" tabindex="-1" href="#">JavaScript</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a tabindex="-1" href="#">Angular</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Ember</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">React</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Other Os project</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a  class="dropdown-item" tabindex="-1" href="#">Ruby</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a tabindex="-1" href="#">Rails</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Sinatra</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Other Gem</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Other Os project</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

