<br>
<div class="row justify-content-md-center">
  <div class="btn-group my-btn-nav-group" role="group" aria-label="Main Navigation">
    <button type="button" class="btn btn-lg btn-secondary">Learn</button>
    <button type="button" class="btn btn-lg btn-secondary">Text</button>
    <button type="button" class="btn btn-lg btn-secondary">Code</button>
  </div>

  <div class="dropdown">
    <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Languages
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-submenu">
        <a  class="dropdown-item" tabindex="-1" href="#">JavaScript</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a tabindex="-1" href="#">Angular</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Ember</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">React</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Other Os project</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a  class="dropdown-item" tabindex="-1" href="#">Ruby</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a tabindex="-1" href="#">Rails</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Sinatra</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Other Gem</a></li>
          <li class="dropdown-item"><a tabindex="-1" href="#">Other Os project</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%; height: 3px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br>

<div class="row justify-content-md-center">
  <div class="compete">Compete</div>
  <label class="switch">
    <input type="checkbox">
    <div class="slider"></div>
  </label>
</div>

<br>

<div class="row justify-content-md-center">
  <div class="col col-lg-10">
    m Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lo
  </div>
</div>
