<div class="row text-center">
  <div class="col col-12">
    <div class="book__or__open_source_text alert alert-warning" role="alert">
      <h1>
        <i class="fa fa-book" aria-hidden="true"></i>
      </h1>
      <span>Choose your favorite <strong>Book</strong>.</span>
    </div>
  </div>
</div>
