/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$dark-blue: #31708F;
$light-blue: #D9EDF7;
$nav: darken($light-blue, 50%);

[v-cloak] {
  display: none;
}

.book__or__open_source_text {
  margin-top: -14px;
}

// typing-console
.computer {
  background-color: $light-blue;
}

#current__page_parent {
  margin-left: 23px;
}

.fa-thumbs-o-up {
  font-size: 3em;
}

$text-size: 1.5em;
#text {
  margin-top: 13px;
  font-size: $text-size;
  font-family: 'Inconsolata', monospace;
  line-height: 29px;
  white-space: pre-wrap;
}

.cursor {
  box-shadow:inset 0px 0px 0px 1.0px $dark-blue;
}

.wrong-char {
  color: red;
}

.right-char {
  color: $dark-blue;
}

// main navigation

.dropdown .btn, .my-btn-nav-group .btn {
  border-color: darken($nav, 8%);
  color: $nav;
  &:hover, &:focus {
    background-color: darken($light-blue, 15%);
    color: $nav;
  }
}

.btn-secondary.active {
  color: white;
  background-color: darken($light-blue, 50%);
}

li.dropdown-item a {
  color: $dark-blue;
  display: inline-block;
  padding: 4px 23px;
  width: 280px;
  height: 35px;
  &:hover {
    color: white;
  }
}

li.dropdown-item {
  padding: 0px;
  &:hover {
    color: white;
    background-color: darken($light-blue, 50%);
  }
}

a {
    text-decoration: none !important;
}

#button-compete {
  cursor: pointer;
}

.main__nav__row {
  margin-top: 10px;
  margin-bottom: 5px;
}

.compete__button {
  position: relative;
  float: right;
}


.progress {
  margin-top: 1px;
}

.progress-bar {
  background-color: darken($light-blue,30%);
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.ty-underline {
  text-decoration: underline;
}
