<!DOCTYPE html>
<html>
  <head>
    <title>TypingApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">

      <%= yield %>

    </div>
  </body>
  <script>
    $(function() {
      let competeSwitch = $(".slider");
      competeSwitch.click(function(){ compete = !compete; });

      typingConsole("text from typingConsole() function in app/views/layouts/application.html.erb");
    });
  </script>
</html>
